/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Geist+Mono:wght@100..900&family=Geist:wght@700&display=swap');


.header {
  font-family: "Alegreya", serif;
}

.sub-head {
  font-family: "Geist", sans-serif;
}

.paragraph {
  font-family: "Geist Mono", sans-serif;
}

.gray {
    color: #666666 
}

.modal-scroll {
  overflow-y: auto;
  max-height: 100vh;
  overscroll-behavior: contain;
}

